<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{head-title}}</title>

<link rel="icon" href="/static/favicon.png">

<meta property="og:image" content="{{og-image}}">
<meta property="og:title" content="{{head-title}}">
<meta property="og:description" content="{{og-description}}">
<meta property="og:type" content="{{og-type}}">
<meta property="og:url" content="{{og-url}}">
{{ og-published_time }}

<link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{site-name}}">

<meta name="description" content="{{og-description}}">

<link rel="stylesheet" href="/static/base.css">
<script type="module" src="/wobble.js"></script>
